<div class="gProductContainer">
    <div class="gProductContainer__titles">
        <div class="producTitle">
            <p class="producTitle__1">{{name}}</p>
        </div>
        <div class="productSubTitle">
            <p class="producTitle__2">{{description}}</p>
        </div>
    </div>
    <div class="gProductContainer__contents">
        <div class="contentsImg">
            <img class="contentsImg__product" src="{{image}}" alt="">
        </div>
        <div class="contentsDQ">
            <div class="contentsDQ__description">
                <p class="caracteristics"></p>
            </div>
            <div class="inputQ">

            </div>
            <div class="btnAddBuy">
                <div class="btnAddBuy__Buy">
                    <a class="btnAddBuy__buyFrame" href="">
                        <p class="buyFrame__Text"> BUY NOW</p>
                    </a>
                </div>
                <div class="btnAddBuy__Add">
                    <a classhref="btnAddBuy__AddText">ADD TO KART</a>
                </div>
            </div>
        </div>
    </div>
</div>

