$colorwhite: white;
$colorrose: #ff1f50;

.wrapperLCR {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .listCartR {
    position: fixed;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 40%;
    height: 100vh;
    right: 0;
    background: $colorrose;
    z-index: 4;
    transform: translate(100%, 0%);
    transition: all 0.4s ease;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px 0 0 0;
    padding: 30px;
    background-image: url(/images/trama.png);
    background-size: 25%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 37%;

    .containerBtnT {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      #priceView{
        color: $colorwhite;
        font-family: fr-bold;
        font-size: 20px;
        text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.5);
        margin: 0;
        align-self: flex-end;
        margin-top: 15px;
      }
      .containerButtons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .buttonCartC {
          color: $colorwhite;
          background: $colorrose;
          border: none;
          font-family: fr-bold;
          border-radius: 15px;
          font-size: 30px;
          transition: all 0.5s ease;
          margin-top: 15px;
          padding-right: 50px;
          padding-left: 50px;
          text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.5);
          &:hover {
            transform: scale(0.9);
            text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.8);
          }
        }
        .buttonCartB {
          color: $colorwhite;
          background: $colorrose;
          border: none;
          font-family: fr-bold;
          border-radius: 15px;
          font-size: 30px;
          transition: all 0.5s ease;
          margin-top: 15px;
          padding-right: 50px;
          padding-left: 50px;
          text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.5);
          &:hover {
            transform: scale(0.9);
            text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.8);
          }
        }
      }
    }
    .listCartR__title {
      height: 7%;
      display: flex;
      flex-direction: row;
      .listCartR__titlet {
        font-family: fr-bold;
        font-size: 30px;
        color: $colorwhite;
        .listCartR__text {
          text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.5);
        }
      }
    }
    .count {
      position: absolute;
      font-family: fr-bold;
      font-size: 16px;
      color: $colorrose;
      top: 23px;
      transform: translateX(-1px);
    }
    .productsAddedC {
      width: 100%;
      height: 65%;
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: start;
      justify-items: center;

      @import "productsAdd";
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    .carshop {
      position: fixed;

      right: 100%;
      transition: all 0.5s ease;
      z-index: 3;
      &:hover {
        transform: scale(0.9);
        transform: translateX(10px);
      }
    }
    .carshop--active {
      transition: all 0.5s ease;
    }
    .lenghtCont {
      position: absolute;
      width: 21px;
      height: 21px;
      margin-left: 4px;
      margin-right: 5px;
      margin-top: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      .carshop__lenght {
        position: absolute;
        font-family: fr-bold;
        font-size: 13px;
        color: $colorrose;
        text-align: center;
        margin: 0;
      }
    }
  }
  .listCartR--active {
    transform: translate(0%, 0%);
  }
  .listCartR--close {
    transform: translate(100%, 0%);
  }
}
.carshop {
  cursor: pointer;
}
