$colorwhite: white;
$colorrose: #ff1f50;
.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.7s ease;
}
.modal--active {
  display: flex;
}

.modal--show {
  opacity: 1;
}

.modal__frame {
  position: fixed;
  width: 70%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .modal__frameL {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .frameL__title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end;
      text-align: end;
      margin-top: 40px;
      padding: 0 30px 0 30px;
      .frameL__title1 {
        font-family: fr-bold;
        color: $colorwhite;
        font-size: 22px;
      }
      .frameL__title2 {
        font-family: fr-bold;
        color: $colorrose;
        font-size: 15px;
      }
    }
    .frameL__bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      align-content: space-around;
      padding: 0 30px 0 30px;
      margin-top: 10px;
      .bottom__contain {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0 10px 0;
        .bottom__overt {
          font-family: fr-bold;
          color: $colorwhite;
          font-size: 15px;
        }
      }

      .bottom__input {
        border-radius: 15px;
        width: 60%;
        font-family: fr-bold;
        color: $colorrose;
        font-size: 13px;
        border: none;
        padding: 15px;
      }
      .contain_confirmBtn {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        .confirmBtn {
          width: 50%;
          background: $colorwhite;
          font-family: fr-bold;
          color: $colorrose;
          font-size: 25px;
          padding: 10px;
          border: none;
          border-radius: 15px;
         
        }
      }

      .frameL__bottomCheck {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 10px;
        label {
          font-family: fr-bold;
          color: $colorwhite;
          font-size: 15px;
          padding-right: 15px;
          .check {
            margin-left: 15px;
          }
        }
      }
    }
  }

  .modal__frameRBA {
    display: none;
  }
  .modal__frameRBA--active {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .titleCont {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .titleCont__text {
        font-family: fr-bold;
        color: $colorwhite;
        font-size: 30px;
      }
    }
    
    #priceViewB{
      color: $colorwhite;
      font-family: fr-bold;
      font-size: 20px;
      text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.5);
      margin: 0;
      align-self: center;
      margin-top: 15px;
    }
    .productsBAdded {
      width: 100%;
      height: 65%;
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-items: center;
      background-image: url(/images/logo.png);
    
      background-size: 50%;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 37%;

      .generalproductAdd {
        position: relative;
        width: 181.42px;
        height: 244.19px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        background: $colorwhite;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 20px;
        box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
        transition: all 0.5s ease;
        &:hover {
          transform: scale(0.9);
          .btndeleteP__btn {
            transform: translateY(-20px);
          }

          .btndeleteP {
            padding-bottom: 60px;
          }
        }
        .counterPcont {
          position: absolute;
          width: 45px;
          height: 44px;
          z-index: 2;
          transform: scale(0.8);
        }
        .count {
          position: absolute;
          font-family: fr-bold;
          color: $colorrose;
          font-size: 16px;
          top: 21px;
          transform: translateX(-1px);
        }
        .pricePadd {
          transition: all 0.5s ease;
          display: flex;
          font-family: fr-bold;
          color: grey;
          font-size: 15px;
          text-align: center;
          opacity: 1;
          margin: 0;
        }

        .btndeleteP {
          position: absolute;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: flex-end;
          transition: all 0.5s ease;
        }

        .btndeleteP__btn {
          position: relative;
          width: 45px;
          height: 44px;
          z-index: 2;
          cursor: pointer;
          left: 60px;
          top: 119.5px;
          transition: all 0.5s ease;
        }
        .imgbtndelete {
          width: 45px;
          height: 44px;
          transition: all 0.5s ease;
          z-index: 1;
          transform: rotateZ(45deg);
          &:hover {
            transform: rotateZ(315deg);
          }
        }
        .imgProductAdd {
          width: 100%;
          border-radius: 15px;
        }
        .name {
          font-family: fr-bold;
          color: $colorrose;
          font-size: 15px;
          margin-top: 10px;
          margin-bottom: 10px;
          transition: all 0.5s ease;
          &:hover {
            transform: scale(1.15);
            text-decoration: none;
          }
        }
      }

      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  .modal__frameR {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .quantityM {
      margin-top: 10px;
      width: 88%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      color: $colorrose;
      font-family: fr-bold;
      font-size: 15px;
    }
    .totalPiceM {
      margin-top: 20px;
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
      .tContainer {
        color: $colorwhite;
        font-family: fr-bold;
        font-size: 20px;
        .totalM {
          padding-left: 20px;
          margin: 0;
        }
      }
      .containerFrC {
        width: 30%;
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: flex-end;
        .counterPcont {
          padding-right: 20px;
        }
      }

      .writeCount {
        width: 30%;

        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: flex-end;

        .countContainer {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          align-content: center;
          width: 65px;
          height: 44px;

          color: $colorrose;
          font-family: fr-bold;
          font-size: 20px;
          z-index: 999;
          padding-right: 20px;

          .count {
            margin: 0;
          }
        }
      }
    }
    .productbuy {
      width: 90%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      background: $colorwhite;
      border-radius: 15px;
      padding: 20px;
      transition: all 0.5s ease;

      &:hover {
        height: 80%;
        .price {
          transition: all 0.5s ease;
          display: flex;
          font-family: fr-bold;
          color: $colorrose;
          font-size: 15px;
          text-align: center;
          opacity: 1;
          margin: 0;
        }
        .descript {
          transition: all 0.5s ease;
          display: flex;
          font-family: fr-bold;
          color: grey;
          font-size: 13px;
          text-align: center;
          margin-bottom: 8px;
          opacity: 1;
        }
      }
      .imgPB {
        width: 100%;
        border-radius: 15px;
      }
      .price {
        transition: all 0.5s ease;
        font-family: fr-bold;
        color: $colorrose;
        font-size: 15px;
        text-align: center;
        opacity: 0;
      }
      .descript {
        transition: all 0.5s ease;
        display: flex;
        font-family: fr-bold;
        color: grey;
        font-size: 13px;
        text-align: center;
        margin-bottom: 8px;
        opacity: 0;
      }
      .name {
        font-family: fr-bold;
        color: $colorrose;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.15);
          text-decoration: none;
        }
      }
    }
  }
  .modal__frameR--active {
    display: none;
  }
}

.wrapperP {
  transition: filter 0.7s ease;
}

.wrapperP--active {
  filter: blur(2px);
  pointer-events: none;
}

.noscroll {
  overflow: hidden;
}

.contentImg__scruffy {
  width: 30%;
  position: absolute;
  top: 260px;
  left: 100px;
}
