$colorwhite: white;
$colorrose: #ff1f50;
.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 30px;
  opacity: 0;
  transition: opacity 0.7s ease;
}
.modal--active {
  display: flex;
}

.modal--show {
  opacity: 1;
}

.modal__frame {
  position: fixed;
  width: 70%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .modal__frameL {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .frameL__title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end;
      text-align: end;
      margin-top: 40px;
      padding: 0 30px 0 30px;
      .frameL__title1 {
        font-family: fr-bold;
        color: $colorwhite;
        font-size: 22px;
      }
      .frameL__title2{
        font-family: fr-bold;
        color: $colorrose;
        font-size: 15px;
      }
    }
    .frameL__bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      align-content: space-around;
      padding: 0 30px 0 30px;
      margin-top: 10px; 
      .bottom__contain{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0 10px 0;
        .bottom__overt {
          font-family: fr-bold;
          color: $colorwhite;
          font-size: 15px;
        }
      } 
      
      .bottom__input {
        border-radius: 15px;
        width: 60%;
        font-family: fr-bold;
        color: $colorrose;
        font-size: 13px;
        border: none;
        padding: 15px;
      }
      .contain_confirmBtn{
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
        .confirmBtn {
            width: 50%;
            background: $colorwhite;
            font-family: fr-bold;
            color: $colorrose;
            font-size: 25px;
            padding: 10px;
            border: none;
            border-radius: 15px;
          }
      }
      
      .frameL__bottomCheck {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 10px;
        label {
          font-family: fr-bold;
          color: $colorwhite;
          font-size: 15px;
          padding-right: 15px;
          .check {
            margin-left: 15px;
          }
        }
      }
    }
  }
  .modal__frameR {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .productbuy{
      width: 90%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      background: $colorwhite;
      border-radius: 15px;
      padding: 20px;
      transition: all 0.5s ease;
      &:hover{
        height: 80%;
        .price {  
          transition: all 0.5s ease;
          display: flex;
          font-family: fr-bold;
          color: $colorrose;
          font-size: 15px;
          text-align: center;
          opacity: 1;
          margin: 0;
        }
        .descript {
          transition: all 0.5s ease;
          display: flex;
          font-family: fr-bold;
          color: grey;
          font-size: 13px;
          text-align: center;
          margin-bottom: 8px;
          opacity: 1;
        }
      }
      .imgPB{
        width: 100%;
        border-radius: 15px;
      }
      .price {
        transition: all 0.5s ease;
        font-family: fr-bold;
        color: $colorrose;
        font-size: 15px;
        text-align: center;
        opacity: 0;
      }
      .descript {
        transition: all 0.5s ease;
        display: flex;
        font-family: fr-bold;
        color: grey;
        font-size: 13px;
        text-align: center;
        margin-bottom: 8px;
        opacity: 0;
      }
      .name {
        font-family: fr-bold;
        color: $colorrose;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.15);
          text-decoration: none;
        }
      }
    }
    
  }
}

.wrapperP {
  transition: filter 0.7s ease;
}

.wrapperP--active {
  filter: blur(2px);
  pointer-events: none;
}

.noscroll {
  overflow: hidden;
}

.contentImg__scruffy {
  width: 30%;
  position: absolute;
  top: 260px;
  left: 100px;
}
