
@media screen and (max-width: 1679px) {
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 60%;
        &:hover {
          height: 72%;
        }
      }
    }
  }
}

@media screen and (max-width: 1620px) {
  .titleshop {
    .title {
      margin-left: 200px;
    }
  }
}
@media screen and (max-width: 1602px) {
  .wrapperLCR {
    .listCartR {
      width: 50%;
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1570px) {
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 56%;
        &:hover {
          height: 64%;
        }
      }
    }
  }
}
@media screen and (max-width: 1523px) {
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 55%;
        &:hover {
          height: 68%;
        }
      }
    }
  }
}

@media screen and (max-width: 1470px) {
  .titleshop {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 400px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 1459px) {
  .wrapperLCR {
    .listCartR {
      width: 60%;
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1423px) {
  .contentImg__scruffy {
    width: 35%;
    position: absolute;
    top: 260px;
    left: 16px;
  }
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 50%;
        &:hover {
          height: 60%;
        }
      }
    }
  }
}
@media screen and (max-width: 1375px) {
  .titleshop {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 400px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }

  .gcontainer {
    .gcontainer__products {
      .generalproduct {
        margin-left: 0;
      }
    }
  }
  .wrapperLCR {
    .listCartR {
      width: 65%;
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .modal__frame .modal__frameR .totalPiceM .writeCount {
    padding-top: 85px;
  }
  .modal__frame .modal__frameR .totalPiceM .containerFrC {
    padding-top: 85px;
  }
  .modal__frame .modal__frameR .quantityM {
    padding-right: 55px;
  }
}
@media screen and (max-width: 1280px) {
  .titleshop {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 400px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }

  .gcontainer {
    .gcontainer__products {
      grid-template-columns: auto auto auto;
      .generalproduct {
        margin-left: 0;
      }
    }
  }
  .wrapperLCR {
    .listCartR {
      width: 70%;
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
  .oneproduct {
    width: 400px;
    height: 400px;
    .oneImgProduct {
      width: 360px;
      height: 360px;
    }
  }
}

@media screen and (max-width: 1237px) {
  .titleshop {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 350px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 45%;
        &:hover {
          height: 60%;
        }
      }
    }
  }
}
@media screen and (max-width: 1234px) {
  .modal__frame {
    height: 590px;
  }
}
@media screen and (max-width: 1223px) {
  .contentImg__scruffy {
    width: 38%;
    position: absolute;
    top: 287px;
    left: -13px;
  }
}
@media screen and (max-width: 1187px) {
  .titleshop {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 350px;
    .title {
      font-size: 25px;
      text-align: start;
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 1127px) {
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 40%;
        &:hover {
          height: 56%;
        }
      }
    }
  }
}
@media screen and (max-width: 1081px) {
  .contentImg__scruffy {
    width: 38%;
    position: absolute;
    top: 353px;
    left: -17px;
  }
}
@media screen and (max-width: 1074px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 60px;
    .title {
      font-size: 35px;
      text-align: start;
      margin-left: 0;
    }
  }
  .gcontainer {
    .gcontainer__filter {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 1024px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 60px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }
  .gcontainer {
    .gcontainer__filter {
      margin-top: 0;
    }
  }

  .wrapperLCR {
    .listCartR {
      .productsAddedC {
        height: 55%;
      }

      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
  .oneproduct {
    width: 350px;
    height: 350px;
    .oneImgProduct {
      width: 310px;
      height: 310px;
    }
  }
}
@media screen and (max-width: 1018px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 60px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }
  .gcontainer {
    .gcontainer__filter {
      margin-top: 0;
    }
  }

  .wrapperLCR {
    .listCartR {
      width: 73%;
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 998px) {
  .contentImg__scruffy {
    width: 38%;
    position: absolute;
    top: 364px;
    left: -17px;
  }
}
@media screen and (max-width: 978px) {
  .modal__frame {
    width: 75%;
    height: 590px;
    .modal__frameL {
      justify-content: center;
      .frameL__title {
        margin-top: 0;
      }
      .frameL__bottom {
        align-items: center;
        .bottom__contain {
          width: 87%;
        }
        .bottom__input {
          width: 87%;
        }
        .frameL__bottomCheck {
          width: 87%;
        }
      }
      .frameL__bottomBuyall--active {
        align-items: center;
        .bottom__contain {
          width: 87%;
        }
        .bottom__input {
          width: 87%;
        }
        .frameL__bottomCheck {
          width: 87%;
        }
      }
    }
  }
  #areProducts {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contentImg__scruffy {
    display: none;
  }
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 37%;
        &:hover {
          height: 51%;
        }
      }
    }
  }
}
@media screen and (max-width: 970px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 60px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }
  .gcontainer {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .gcontainer__products {
      grid-template-columns: auto auto;
      justify-content: center;
      .generalproduct {
        margin-left: 30px;
      }
    }
  }
}
@media screen and (max-width: 964px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 60px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }
  .gcontainer {
    .gcontainer__filter {
      margin-top: 0;
    }
  }

  .wrapperLCR {
    .listCartR {
      .productsAddedC {
        height: 52%;
      }
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 916px) {
  .modal__frame {
    padding-top: 40px;
    padding-bottom: 40px;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    height: 70%;
    flex-direction: column;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .modal__frameR {
      width: 80%;
      margin-top: 20px;
      .totalPiceM {
        .writeCount {
          width: 80%;
          padding-top: 0;
        }
        .containerFrC {
          width: 80%;
          padding-top: 0;
        }
      }
      .quantityM {
        padding-right: 0;
      }
    }
    .modal__frameRBA--active {
      margin-top: 20px;
      width: 100%;
      .productsBAdded {
        height: 245px;
        grid-template-columns: auto auto auto;
        background-size: 26%;
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    .modal__frameL {
      width: 100%;

      flex-direction: column;
      .frameL__title {
        margin-top: 0;
      }
      .frameL__bottom {
        align-items: center;
        .bottom__contain {
          width: 87%;
        }
        .bottom__input {
          width: 87%;
        }
        .frameL__bottomCheck {
          width: 87%;
        }
      }
    }
  }
  #areProducts {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contentImg__scruffy {
    display: none;
  }
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 77%;
        &:hover {
          height: 87%;
        }
      }
    }
  }
}
@media screen and (max-width: 905px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0;
    margin-left: 60px;
    .title {
      font-size: 30px;
      text-align: start;
      margin-left: 0;
    }
  }
  .gcontainer {
    .gcontainer__filter {
      margin-top: 0;
    }
  }

  .wrapperLCR {
    .listCartR {
      width: 75%;
      .productsAddedC {
        height: 52%;
      }
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 897px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      font-size: 27px;
      text-align: center;
      margin-left: 0;
    }
  }
  .gcontainer {
    .gcontainer__filter {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 881px) {
  .gcontainer {
    .gcontainer__filter {
      margin-top: 0;
    }
  }

  .wrapperLCR {
    .listCartR {
      width: 85%;
      .productsAddedC {
        height: 52%;
      }
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      font-size: 25px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      font-size: 15px;
    }
  }
  .gcontainer {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .gcontainer__filter {
      margin-left: 40px;
    }
    .gcontainer__products {
      grid-template-columns: auto auto;
      justify-content: center;
      .generalproduct {
        margin-left: 30px;
      }
    }
  }
  .wrapperLCR {
    .listCartR {
      width: 85%;
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 810px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      font-size: 15px;
    }
  }
  .gcontainer {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .gcontainer__filter {
      margin-left: 40px;
    }
    .gcontainer__products {
      grid-template-columns: auto auto;
      justify-content: center;
      .generalproduct {
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 804px) {
  .modal__frame {
    .modal__frameRBA--active {
      .productsBAdded {
        grid-template-columns: auto auto;
      }
    }
  }
}
@media screen and (max-width: 785px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      width: 50%;
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      font-size: 15px;
    }
  }
  .gcontainer {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .gcontainer__filter {
      margin-left: 10px;
    }
    .gcontainer__products {
      grid-template-columns: auto auto;
      justify-content: center;
      .generalproduct {
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 779px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      width: 50%;
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      font-size: 15px;
    }
  }
  .gcontainer {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .gcontainer__filter {
      margin-left: 10px;
    }
    .gcontainer__products {
      grid-template-columns: auto auto;
      justify-content: center;
      .generalproduct {
        margin-left: 10px;
      }
    }
  }
  .wrapperLCR {
    .listCartR {
      width: 85%;
      .productsAddedC {
        height: 54%;
      }
      .containerBtnT {
        .containerButtons {
          .buttonCartB {
            font-size: 22px;
          }
          .buttonCartC {
            font-size: 22px;
          }
        }
      }
      .listCartR__title {
        .listCartR__titlet {
          font-size: 25px;
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 71%;
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      width: 50%;
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      width: 50%;
      font-size: 15px;
    }
  }
  .gcontainer {
    flex-wrap: nowrap;
    justify-content: space-evenly;
    .gcontainer__filter {
      margin-left: 10px;
    }
    .gcontainer__products {
      width: 50%;
      grid-template-columns: auto;
      justify-content: center;
      .generalproduct {
        margin-left: 0;
      }
    }
  }
}

@media screen and (max-width: 716px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      width: 50%;
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      font-size: 15px;
    }
  }

  .wrapperLCR {
    .listCartR {
      width: 85%;
      .productsAddedC {
        height: 54%;
      }
      .containerBtnT {
        .containerButtons {
          .buttonCartB {
            font-size: 22px;
          }
          .buttonCartC {
            font-size: 22px;
          }
        }
      }
      .listCartR__title {
        .listCartR__titlet {
          font-size: 23px;
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 655px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      width: 50%;
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      font-size: 15px;
    }
  }

  .wrapperLCR {
    .listCartR {
      width: 80%;
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 730px) {
  .oneproduct {
    width: 300px;
    height: 300px;
    .oneImgProduct {
      width: 260px;
      height: 260px;
    }
  }
}
@media screen and (max-width: 600px) {
  .gProductContainer__contents {
    flex-direction: column;
  }
  .oneproduct {
    width: 400px;
    height: 400px;
    .oneImgProduct {
      width: 360px;
      height: 360px;
    }
  }
  .contentsDQ {
    margin-top: 30px;
    width: 85%;
  }
  .separatorP .separatorP__form .separatorP__formImg {
    width: 70%;
    height: 11px;
  }
}

@media screen and (max-width: 554px) {
  .modal__frame {
    .modal__frameRBA--active {
      .productsBAdded {
        grid-template-columns: auto;
      }
    }
  }
}
@media screen and (max-width: 518px) {
  .modal__frame {
    .modal__frameR {
      .productbuy {
        height: 65%;
      }
    }
  }
}
@media screen and (max-width: 478px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      width: 70%;
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      width: 70%;
      font-size: 15px;
    }
  }
  .gcontainer {
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .gcontainer__filter {
      margin-left: 10px;
    }
    .gcontainer__products {
      width: 50%;
      grid-template-columns: auto;
      justify-content: center;
      .generalproduct {
        margin-left: 0;
      }
    }
  }
}
@media screen and (max-width: 773px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      width: 50%;
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      font-size: 15px;
    }
  }

  .wrapperLCR {
    .listCartR {
      width: 78%;
      .productsAddedC {
        grid-template-columns: auto auto;
      }
      .listCartR__title {
        .listCartR__titlet {
          .listCartR__text {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 657px) {
  .wrapperLCR {
    .listCartR {
      .productsAddedC {
        margin-top: 20px;
        height: 67%;
      }
      .containerBtnT {
      }
    }
  }
}
@media screen and (max-width: 582px) {
  .wrapperLCR {
    .listCartR {
      .productsAddedC {
        grid-template-columns: auto;
      }
      .containerBtnT {
      }
    }
  }
}

@media screen and (max-width: 1435px) {
  .gProductContainer {
    width: 75%;
  }
}
@media screen and (max-width: 913px) {
  .separatorP {
    .separatorP__title {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: 600px) {
  .separatorP {
    .separatorP__title {
      font-size: 17px;
    }
  }
}
@media screen and (max-width: 1213px) {
  .recommendedP {
    .generalproduct {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
@media screen and (max-width: 696px) {
  .recommendedP {
    flex-direction: column;
  }
}
@media screen and (max-width: 445px) {
  .oneproduct {
    width: 300px;
    height: 300px;
    .oneImgProduct {
      width: 260px;
      height: 260px;
    }
  }
}
@media screen and (max-width: 489px) {
  .wrapperLCR {
    .listCartR {
      .containerBtnT {
        .containerButtons {
          .buttonCartB {
            font-size: 19px;
          }
          .buttonCartC {
            font-size: 19px;
          }
        }
      }
      .productsAddedC {
        margin-top: 20px;
        height: 67%;
      }
      .containerBtnT {
      }
    }
  }
}
@media screen and (max-width: 475px) {
  .wrapperLCR {
    .listCartR {
      .containerBtnT {
        .containerButtons {
          .buttonCartB {
            font-size: 19px;
          }
          .buttonCartC {
            font-size: 19px;
          }
        }
      }
      .productsAddedC {
        margin-top: 20px;
        height: 71%;
      }
      .containerBtnT {
      }
    }
  }
}
@media screen and (max-width: 445px) {
  .titleshop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;

    .title {
      width: 70%;
      font-size: 24px;
      text-align: center;
      margin-left: 0;
    }
    .subtitle {
      width: 70%;
      font-size: 15px;
    }
  }
  .gcontainer {
    .gcontainer__filter {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 440px) {
  .wrapperLCR {
    .listCartR {
      .containerBtnT {
        .containerButtons {
          .buttonCartB {
            font-size: 17px;
          }
          .buttonCartC {
            font-size: 17px;
          }
        }
      }
      .productsAddedC {
        margin-top: 20px;
        height: 71%;
      }
      .containerBtnT {
      }
    }
  }
}
@media screen and (max-width: 424px) {
  .modal__frame .modal__frameR .totalPiceM .writeCount {
    padding-top: 85px;
  }
  .modal__frame .modal__frameR .totalPiceM .containerFrC {
    padding-top: 85px;
  }
  .modal__frame .modal__frameR .quantityM {
    padding-right: 55px;
  }
}
@media screen and (max-width: 415px) {
  .modal__frame .modal__frameR .productbuy {
    height: 60%;
  }
}
@media screen and (max-width: 407px) {
  .wrapperLCR {
    .listCartR {
      .containerBtnT {
        .containerButtons {
          .buttonCartB {
            font-size: 15px;
          }
          .buttonCartC {
            font-size: 15px;
          }
        }
      }
      .productsAddedC {
        margin-top: 50px;
        height: 68%;
      }
      .containerBtnT {
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .wrapperLCR {
    .listCartR {
      width: 75%;
      .containerBtnT {
        .containerButtons {
          .buttonCartB {
            font-size: 20px;
          }
          .buttonCartC {
            font-size: 20px;
          }
        }
      }
      .productsAddedC {
        margin-top: 50px;
        height: 68%;
      }
      .containerBtnT {
      }
    }
  }
}
@media screen and (max-width: 895px) {
  .gProductContainer {
    width: 90%;
  }
}
@media screen and (max-height: 914px) {
  .wrapperLCR{
    .listCartR{
      .productsAddedC{
        height: 61%;
        margin-top: 60px;
      }
    }
  }
}
@media screen and (max-height: 918px) {
  .contentImg__scruffy {

 
    top: 270px;
    
  }
}
@media screen and (max-height: 810px) {
  .contentImg__scruffy {

 
    top: 174px;
    
  }
}
@media screen and (max-height: 807px) {
  .wrapperLCR{
    .listCartR{
      .productsAddedC{
        height: 57%;
        margin-top: 70px;
      }
    }
  }
}
@media screen and (max-height: 712px) {
  .wrapperLCR{
    .listCartR{
      .productsAddedC{
        height: 54%;
        margin-top: 70px;
      }
    }
  }
}
@media screen and (max-height: 654px) {
  .wrapperLCR{
    .listCartR{
      .productsAddedC{
        height: 49%;
        margin-top: 70px;
      }
    }
  }
}
@media screen and (max-height: 643px) {
  .contentImg__scruffy {
 
  
    top: 79px;
    
  }
}
@media screen and (max-height: 587px) {
  .wrapperLCR{
    .listCartR{
      .productsAddedC{
        height: 45%;
        margin-top: 70px;
      }
    }
  }
}
@media screen and (max-height: 546px) {
  .wrapperLCR{
    .listCartR{
      .productsAddedC{
        height: 41%;
        margin-top: 70px;
      }
    }
  }
}
