$colorwhite: white;
$colorrose: #ff1f50;
.titleshop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 30px 0 30px 0;
  .title {
    margin-left: 100px;  
    width: 100%;
    font-family: fr-bold;
    color: $colorwhite;
    font-size: 40px;
    text-align: center;
  }
  .subtitle {
    font-family: fr-bold;
    color: $colorrose;
    font-size: 18px;
    text-align: center;
  }
}

.gcontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: stretch;
  align-items: flex-start;

  .gcontainer__filter {
    margin-top: -150px;  
    width: 242px;
    height: 580px;
    left: 37px;
    top: 141px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 23px;
    .gcontainer__filtercontent {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: flex-start;
      height: 100%;
    }
  }
  .gcontainer__products {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    .generalproduct {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      background: $colorwhite;
      border-radius: 15px;
      margin-left: 30px;
      margin-bottom: 20px;
      margin-top: 20px;
      width: 210px;
      height: 260px;
      transition: all 0.5s ease;
      &:hover {
        height: 340px;
        transition: all 0.5s ease;
        .imgProduct {
          margin-top: 20px;
        }
        .btnadd {
          padding-bottom: 80px;
        }
        .price {
          transition: all 0.5s ease;
          display: flex;
          font-family: fr-bold;
          color: $colorrose;
          font-size: 15px;
          text-align: center;
          opacity: 1;
        }
        .descript {
          transition: all 0.5s ease;
          display: flex;
          transition: all 0.5s ease;
          display: flex;
          font-family: fr-bold;
          color: grey;
          font-size: 13px;
          text-align: center;
          margin-bottom: 8px;
          opacity: 1;
        }
      }

      .imgProduct {
        margin: 5px 5px 5px 5px;
        width: 190.38px;
        height: 190.38px;
        border-radius: 15px;
        margin-top: 10px;
        transition: all 0.5s ease;
      }
      .name {
        font-family: fr-bold;
        color: $colorrose;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.15);
          text-decoration: none;
        }
      }

      .price {
        display: none;
        opacity: 0;
        transition: all 0.5s ease;
        margin: 0;
      }
      .descript {
        opacity: 0;

        display: none;
        transition: all 0.5s ease;
      }
      .btnadd {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 210px;
        height: 247px;
        padding-bottom: 45px;
        padding-right: 8px;
        transition: all 0.5s ease;
      }
      .imgbtnadd {
        width: 45px;
        height: 44px;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.18);
        }
      }

      .btnaddg {
        position: absolute;
        width: 45px;
        height: 44px;
      }
    }
  }
}

.viewall {
  text-decoration: none;
  font-family: fr-bold;
  font-weight: lighter;
  color: $colorwhite;
  font-size: 20px;
  transition: all 0.5s ease;
  &:hover {
    transform: translateX(7px);
    text-decoration: none;
    font-family: fr-bold;
    color: $colorwhite;
    font-size: 20px;
  }
}

.titles {
  text-decoration: none;
  font-family: fr-bold;
  color: $colorwhite;
  font-size: 30px;
  margin: 0;
  margin-top: 10px;
}

.list-titles {
  text-decoration: none;
  font-family: fr-bold;
  color: $colorrose;
  font-size: 15px;
  margin: 0;
  margin-top: 10px;
}
.carshop {
  position: fixed;
  bottom: 660px;
  right: 0;
  transition: all 0.5s ease;
  &:hover{
    transform: scale(0.9);
    transform: translateX(10px);
  }
  .carshop__lenght {
    position: absolute;
    margin-left: 10px;
    margin-top: 6px;
    font-family: fr-bold;
    font-size: 13px;
    color: $colorrose;
  }
}
